
config client
	option enable '0'
	option server_url 'https://chisel-demo.herokuapp.com'
	option local_address '0.0.0.0:3000'
	option remote_address '0.0.0.0:3000'
	option fingerprint ''
	option auth ''
	option keepalive '0s'
	option max_retry_count '-1'
	option max_retry_interval '5m'
	option proxy ''
	option hostname ''

